
@font-face {
  font-family: "And Black";
  src: url("myfont-webfont.eot?#iefix") format('embedded-opentype'),
       url("../fonts/and_black.woff") format('woff'),
       url("../fonts/and_black.ttf") format('truetype');
}

body {
    margin: 0;
}

/* Disable ugly boxes around images in IE10 */
a img{
    border: 0px;
}

::-moz-selection {
    background-color: #F8753B;
    color: #fff;
}

::selection {
    background-color: #F8753B;
    color: #fff;
}

.oldnonine-search-box .mdl-textfield__input {
    color: rgba(0, 0, 0, 0.87);
}

.oldnonine-header .mdl-menu__container {
    z-index: 50;
    margin: 0 !important;
}

.oldnonine-mobile-title {
    display: none !important;
}

.oldnonine-logo-image {
    height: 28px;
    width: 140px;
}

.oldnonine-header {
    overflow: visible;
    background-color: white;
}

.oldnonine-header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
    display: none; /* overridden in media query below */
}

.oldnonine-header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
}

.oldnonine-navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    width: 500px;
    -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.oldnonine-navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 800px;
}


.oldnonine-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
}

.oldnonine-navigation .mdl-navigation__link:hover {
    border-bottom: 4px solid #8bc34a;
}

.oldnonine-more-button {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
}

.oldnonine-drawer {
    border-right: none;
}

.oldnonine-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
}

.oldnonine-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
}

.oldnonine-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #8bc34a;
}

.mdl-layout .mdl-layout__header .mdl-layout-title {
    color: #8bc34a;
}

.oldnonine-be-together-section {
    position: relative;
    height: 800px;
    width: auto;
    background-color: #f3f3f3;
    background: url('../images/slide01.jpg') center 30% no-repeat;
    background-size: cover;
}

.oldnonine-font {
    font-family: 'And Black', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    color: #767777;
    font-weight: 300;
}

.oldnonine-slogan {
    font-size: 60px;
    padding-top: 160px;
}

.oldnonine-sub-slogan {
    font-size: 21px;
    padding-top: 24px;
}

.oldnonine-create-character {
    font-size: 21px;
    padding-top: 400px;
}

.oldnonine-create-character a {
    text-decoration: none;
    color: #767777;
    font-weight: 300;
}

.oldnonine-screen-section {
    position: relative;
    padding-top: 60px;
    padding-bottom: 80px;
}

.oldnonine-screens {
    text-align: right;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}

.oldnonine-screen {
    text-align: center;
}

.oldnonine-screen .oldnonine-link {
    margin-top: 16px;
    display: block;
    z-index: 2;
}

.oldnonine-image-link {
    text-decoration: none;
}

.oldnonine-wear {
    display: inline-block;
    width: 160px;
    margin-right: 32px;
}

.oldnonine-wear .oldnonine-screen-image {
    width: 40%;
    z-index: 1;
}


.oldnonine-phone {
    display: inline-block;
    width: 64px;
    margin-right: 48px;
}

.oldnonine-phone .oldnonine-screen-image {
    width: 100%;
    z-index: 1;
}

.oldnonine-tablet {
    display: inline-block;
    width: 110px;
    margin-right: 64px;
}

.oldnonine-tablet .oldnonine-screen-image {
    width: 100%;
    z-index: 1;
}

.oldnonine-tablet .oldnonine-link {
    display: block;
    z-index: 2;
}

.oldnonine-tv {
    display: inline-block;
    width: 300px;
    margin-right: 80px;
}

.oldnonine-tv .oldnonine-screen-image {
    width: 100%;
    z-index: 1;
}

.oldnonine-auto {
    display: inline-block;
    width: 300px;
    overflow: hidden;
}

.oldnonine-auto .oldnonine-screen-image {
    display: block;
    height: 300px;
    z-index: 1;
}

.oldnonine-wear-section {
    position: relative;
    background: url('../images/wear.png') center top no-repeat;
    background-size: cover;
    height: 800px;
}

.oldnonine-wear-band {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #37474f;
}

.oldnonine-wear-band-text {
    max-width: 800px;
    margin-left: 25%;
    padding: 24px;
    text-align: left;
    color: white;
}

.oldnonine-wear-band-text p {
    padding-top: 8px;
}

.oldnonine-link {
    text-decoration: none;
    color: #8bc34a !important;
}

.oldnonine-link:hover {
    color: #7cb342 !important;
}

.oldnonine-link .material-icons {
    position: relative;
}

.oldnonine-alt-link {
    text-decoration: none;
    color: #64ffda !important;
    font-size: 16px;
}

.oldnonine-alt-link:hover {
    color: #00bfa5 !important;
}

.oldnonine-alt-link .material-icons {
    position: relative;
    top: 6px;
}

.oldnonine-customized-section {
    text-align: center;
}

.oldnonine-customized-section-text {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 16px 0 16px;
}

.oldnonine-customized-section-text p {
    padding-top: 16px;
}

.oldnonine-customized-section-image {
    background: url('../images/devices.jpg') center top no-repeat;
    background-size: cover;
    height: 400px;
}

.oldnonine-more-section {
    padding: 80px 0;
    max-width: 1044px;
    margin-left: auto;
    margin-right: auto;
}

.oldnonine-more-section .oldnonine-section-title {
    margin-left: 12px;
    padding-bottom: 24px;
}

.mdl-card {
    text-decoration: none;
}

.oldnonine-card-container {}

.oldnonine-card-container .mdl-card__media {
    overflow: hidden;
    background: transparent;
}

.oldnonine-card-container .mdl-card__media img {
    width: 100%;
}

.oldnonine-card-container .mdl-card__title {
    background: transparent;
    height: auto;
}

.oldnonine-card-container .mdl-card__title-text {
    color: black;
    height: auto;
}

.oldnonine-card-container .mdl-card__supporting-text {
    height: auto;
    color: black;
    padding-bottom: 48px;
}

.oldnonine-card-container .mdl-card__actions {
    position: absolute;
    bottom: 0;
}

.oldnonine-card-container .mdl-card__actions a {
    border-top: none;
    line-height: 32px;
    font-size: 16px;
}

.oldnonine-footer {
    background-color: #fafafa;
    position: relative;
}

.oldnonine-footer a:hover {
    color: #8bc34a;
}

.oldnonine-footer .mdl-mega-footer--top-section::after {
    border-bottom: none;
}

.oldnonine-footer .mdl-mega-footer--middle-section::after {
    border-bottom: none;
}

.oldnonine-footer .mdl-mega-footer--bottom-section {
    position: relative;
}

.oldnonine-footer .mdl-mega-footer--bottom-section a {
    margin-right: 2em;
}

.oldnonine-footer .mdl-mega-footer--right-section a .material-icons {
    position: relative;
    top: 6px;
}

.oldnonine-link-menu:hover {
    cursor: pointer;
}


/**** Mobile layout ****/
@media (max-width: 900px) {
    .oldnonine-navigation-container {
        display: none;
    }

    .oldnonine-title {
        display: none !important;
    }

    .oldnonine-mobile-title {
        display: block !important;
        position: absolute;
        left: calc(50% - 70px);
        top: 12px;
        -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .oldnonine-header .mdl-layout__drawer-button {
        display: block;
    }

    .oldnonine-search-box.is-focused ~ .oldnonine-mobile-title {
        opacity: 0;
    }

    .oldnonine-more-button {
        display: none;
    }

    .oldnonine-search-box.is-focused {
        width: calc(100% - 48px);
    }

    .oldnonine-search-box .mdl-textfield__expandable-holder {
        width: 100%;
    }

    .oldnonine-be-together-section {
        height: 350px;
    }

    .oldnonine-slogan {
        font-size: 26px;
        margin: 0 16px;
        padding-top: 24px;
    }

    .oldnonine-sub-slogan {
        font-size: 16px;
        margin: 0 16px;
        padding-top: 8px;
    }

    .oldnonine-create-character {
        padding-top: 200px;
        font-size: 16px;
    }

    .oldnonine-create-character img {
        height: 12px;
    }

    .oldnonine-fab {
        display: none;
    }

    .oldnonine-wear-band-text {
        margin-left: 0;
        padding: 16px;
    }

    .oldnonine-footer .mdl-mega-footer--bottom-section {
        display: none;
    }
}
